@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1, .h1 {
    @apply text-[32px] lg:text-[54px];
  }

  h2, .h2{
    @apply text-[24px] lg:text-[44px];
  }

  h3, .h3{
    @apply text-[16px] lg:text-[24px];
  }

  h4, .h4{
    @apply text-[14px] lg:text-[18px];
  }

  h5, .h5{
    @apply text-[12px] lg:text-[16px];
  }

  h6, .h6{
    @apply text-[10px] lg:text-[14px];
  }

  p, .para, body{
    @apply text-[#677580] text-[15px] lg:text-[18px]
  }

  input {
    appearance: none;
    background-color: transparent;
    outline: none;
  }

  .ui-container{
    @apply max-w-[1100px] mx-auto
  }

  .ui-padding {
    @apply px-[20px] lg:px-[30px]
  }

  .ui-margin {
    @apply mx-[20px] lg:mx-[30px]
  }

  .ui-section-padding{
    @apply md:p-[35px] px-[15px] py-[30px]  
  }

  .ui-section-heading{
    @apply lg:text-[20px] text-[18px] text-[#31343D] h-fit font-bold
  }

  .ui-section-shadow{
    @apply shadow-[2px_5px_35.5px_0px_rgba(0,0,0,0.05)]
  }

  .ui-section-radius{
    @apply rounded-[13px] overflow-hidden
  }

  .ui-button{
    @apply flex gap-[5px] md:gap-[6px] rounded-[5px] overflow-hidden px-[10px] py-[7px] min-w-[75px] md:min-w-[80px] justify-center md:px-[14px] text-[12px] cursor-pointer
  }

  .ui-button-link{
    @apply flex justify-center items-center gap-[3.5px] text-blue text-[13px] relative
  }

  .ui-button-link:after{
    content: "";
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="4" viewBox="0 0 22 4" fill="none"><path d="M0.644531 2.73642H19.2527L16.6562 0.789062" stroke="%234BA9FF" stroke-width="1.29824" stroke-linecap="round" /></svg>');
    @apply w-[19px] h-[5px] bg-no-repeat bg-center bg-contain
  }

  hr.hr{
    @apply bg-gradient-to-r from-[#f1f1f7] via-[#969696] to-[#f2f2f8] border-none min-h-[1px] w-full opacity-50
  }

  hr.vr{
    @apply bg-gradient-to-b from-[#f1f1f7] via-[#969696] to-[#f2f2f8] border-none w-[1px] min-h-[10px] min-w-[1px] opacity-50
  }

  /* ui-toggle */
  .ui-toggle .ui-toggle-content{
    display: none;
  }

  .ui-toggle.active .ui-toggle-content{
    display: flex !important;
  }

  /* ui-aqi-meter */
  .ui-aqi-meter{
    @apply relative w-full min-w-[100px] bg-slate-300 aspect-square
  }

  .ui-aqi-meter .digit{
    @apply border-[3px] rounded-full text-white border-white flex flex-col items-center justify-center gap-[5px] absolute top-2/4 left-2/4 shadow-[3px_6px_12px_rgba(15,75,12,0.17)] aspect-square w-[70%] -translate-x-2/4 -translate-y-2/4 bg-cover bg-no-repeat bg-center
  }

  .ui-aqi-meter .digit:after{
    content: "";
    @apply aspect-square w-full opacity-80 z-[1] absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 rounded-full
  }

  .ui-aqi-meter[status="good"] .digit:after {
    @apply bg-green-50
  }

  .ui-aqi-meter[status="moderate"] .digit:after {
    @apply bg-yellow-50
  }

  .ui-aqi-meter[status="poor"] .digit:after {
    @apply bg-orange-50
  }

  .ui-aqi-meter[status="unhealthy"] .digit:after {
    @apply bg-pink-50
  }

  .ui-aqi-meter[status="severe"] .digit:after {
    @apply bg-purple-50
  }

  .ui-aqi-meter[status="hazardous"] .digit:after {
    @apply bg-red-50
  }

  .ui-aqi-meter:is([status="good"], [status="moderate"]) .digit{
    background-image: url("/assets/media/aqi-meter-bg-good-moderate.jpg");
  }

  .ui-aqi-meter:is([status="poor"], [status="unhealthy"]) .digit{
    background-image: url("/assets/media/aqi-meter-bg-poor-unhealthy.jpg");
  }

  .ui-aqi-meter:is([status="severe"], [status="hazardous"]) .digit{
    background-image: url("/assets/media/aqi-meter-bg-severe-hazardous.jpg");
  }
  

  .ui-aqi-meter .digit .digit-value{
    @apply font-bold text-[34px] z-[2] leading-[100%]
  }

  .ui-aqi-meter .digit .digit-metric{
    @apply text-[10px] font-medium z-[2] leading-[100%]
  }

  .ui-aqi-meter .meter{
    @apply relative top-0 left-0 aspect-square w-[100px] h-[100px] rounded-full border-[4px] border-red-50 flex justify-center
  }

  .ui-aqi-meter .meter .child{
    /* content: ""; */
    /* left: calc(50% - 25px);
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    border: 2px dotted #000000;
    border-radius: 50%; */
    /* @apply absolute top-[calc(50%-5px)] left-[calc(50%-5px)] w-[10px] h-[10px] aspect-square border-[3px] border-purple-50 bg-white rounded-full */

    @apply w-auto h-[10px] aspect-square bg-white rounded-full
  }

  /* Header */
  header .desk nav li{
    @apply py-[20px] text-[15px] font-medium border-b-[3px] border-transparent cursor-pointer hover:text-zinc-400 transition
  }

  header .desk nav li.active{
    @apply !border-blue
  }

  header .mob-menu-toggler{
    @apply flex gap-[4px] flex-col items-end
  }

  header .mob-menu-toggler span{
    @apply h-[3px] block opacity-100 transition bg-[#31343D] rounded-full absolute
  }

  header .mob-menu-toggler span:nth-child(1){
    @apply top-0
  }

  header .mob-menu-toggler span:nth-child(2){
    @apply top-[calc(50%-1.5px)] opacity-100
  }

  header .mob-menu-toggler span:nth-child(3){
    @apply bottom-0
  }

  header .mob.off-canvas-active .mob-menu-toggler span:nth-child(1){
    @apply top-[43%] rotate-[135deg]
  }

  header .mob.off-canvas-active .mob-menu-toggler span:nth-child(2){
    @apply opacity-0 left-[-10px]
  }

  header .mob.off-canvas-active .mob-menu-toggler span:nth-child(3){
    @apply top-[43%] rotate-[-135deg] w-full
  }

  header .top .lang-selector.active .wrapper img{
    @apply -rotate-180
  }

  header .top .lang-selector .wrapper img{
    @apply transition
  }
  header .top .lang-selector .lang-option{
    @apply flex items-center gap-[12px]
  }

  header .top .lang-selector .lang-option .lang-name{
    @apply text-[#31343D] text-[15px] font-semibold
  }

  header .top .lang-selector .lang-option .lang-img{
    @apply lg:w-[30px] w-[20px] aspect-square
  }

  header .top .off-canvas-active .off-canvas-menu{
    @apply !translate-x-0
  }
  
  header .bottom li{
    @apply flex items-center font-semibold
  }

  header .bottom li .location{
    @apply text-[#4C4F57] text-[12px]
  }

  header .bottom li .aqi-level{
    @apply text-[16px] font-bold ml-[7px] mr-[3px]
  }

  header .bottom li .metric{
    @apply text-[#4C4F57] text-[7px] pt-[5px]
  }

  header .bottom hr.vr{
    @apply h-[25px]
  }

  header .off-canvas-menu .mob-nav .ui-toggle-handler{
    @apply flex items-center gap-[10px]
  }

  header .off-canvas-menu .mob-nav .ui-toggle-content{
    @apply flex-col gap-[15px] px-[15px] pt-[15px]
  }

  header .off-canvas-menu .mob-nav .ui-toggle-handler i{
    @apply transition
  }

  header .off-canvas-menu .mob-nav .ui-toggle.active .ui-toggle-handler i{
    @apply -rotate-180
  }


  /* Main */
  .main > section{
    @apply ui-section-shadow ui-section-radius bg-white
  }

/* Main Dashboard */
/* main Dashboard: AQI */
.main-dashboard .weather .content .wrapper > span{
  @apply flex items-center gap-[10px] font-semibold text-[13px] md:text-[15px] text-[#31343D]
}

/* Main Dashboard: AQI Scale */
.main-dashboard .aqi-scale{
  @apply pt-[10px] md:pt-[15px]
}

.main-dashboard .aqi-scale::before{
  content: "";
  @apply w-0 h-0 block border-x-[5px] border-t-[7px]  md:border-x-[6px] md:border-t-[8px] border-x-transparent absolute top-0 left-[50%] -translate-x-2/4
}

.main-dashboard .aqi-scale[scale-name="good"]::before{
  @apply border-t-green-50 left-[calc(16.5%/2)]
}

.main-dashboard .aqi-scale[scale-name="moderate"]::before{
  @apply border-t-yellow-50 left-[calc(100%/6*3/2)]
}

.main-dashboard .aqi-scale[scale-name="poor"]::before{
  @apply border-t-orange-50 left-[calc(100%/6*5/2)]
}

.main-dashboard .aqi-scale[scale-name="unhealthy"]::before{
  @apply border-t-pink-50 left-[calc(100%/6*7/2)]
}

.main-dashboard .aqi-scale[scale-name="severe"]::before{
  @apply border-t-purple-50 left-[calc(100%/6*9/2)]
}

.main-dashboard .aqi-scale[scale-name="hazardous"]::before{
  @apply border-t-red-50 left-[calc(100%/6*11/2)]
}


.main-dashboard .aqi-scale .scale{
  @apply flex items-center justify-center border-b-[4px] pb-[2px]
}

/* Main Dashboard: Major Pollutants */
.main-dashboard .major-pollutants .pollutant{
  @apply rounded-[9px] relative overflow-hidden border border-transparent hover:border-[#A3A3C8] flex flex-col bg-[#F7F7FC] md:max-w-[260px] min-w-fit
}

.main-dashboard .major-pollutants .pollutant.important{
  @apply border-[#A3A3C8] overflow-visible
}

.main-dashboard .major-pollutants .pollutant.important .top{
  @apply rounded-t-[9px]
}

.main-dashboard .major-pollutants .pollutant.important .bottom{
  @apply rounded-b-[9px]
}

.main-dashboard .major-pollutants .pollutant.important:after{
  content: "!";
  @apply cursor-pointer absolute top-[-5px] right-[-5px] aspect-square w-[16px] md:w-[20px] bg-[#F97C7C] rounded-full text-white leading-[0] flex items-center justify-center font-bold
}

.main-dashboard .major-pollutants .pollutant .top{
  @apply grow flex md:items-center gap-[10px] md:gap-[15px] px-[11px] py-[13px] md:px-[20px] md:py-[15px] border-l-[4px]
}

.main-dashboard .major-pollutants .pollutant .top .pollutant-data{
  @apply grow flex gap-[5px] flex-col md:flex-row md:justify-between leading-none
}

.main-dashboard .major-pollutants .pollutant .top .pollutant-data .name{
  @apply text-[12px] md:text-[13px] font-bold md:font-medium
}

.main-dashboard .major-pollutants .pollutant .top .pollutant-data .value{
  @apply text-[#31343D] text-[16px] font-bold flex gap-[4px]
}

.main-dashboard .major-pollutants .pollutant .top .pollutant-data .value .unit{
  @apply text-[#31343D] text-[12px] md:text-[10px] font-light md:font-medium self-end leading-[100%]
}

.main-dashboard .major-pollutants .pollutant .top .link:after{
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none"><path d="M1 8.83008L4.91514 4.91494L1 0.999805" stroke="%2331343D" stroke-width="0.92396" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @apply block w-[8px] h-[16px]
}

.main-dashboard .major-pollutants .pollutant .bottom{
  @apply flex items-center justify-between gap-[20px] text-[9.5px] md:text-[13px] font-medium p-[10px] md:px-[20px] md:py-[10px] bg-[#EFEFFF]
}

.main-dashboard .major-pollutants .pollutant .bottom .avg-time{
  @apply flex flex-col justify-center 
}

.main-dashboard .major-pollutants .pollutant .bottom .avg-time .time{
  @apply text-[8.5px] md:text-[11px]
}

.main-dashboard .major-pollutants .pollutant .bottom .avg-time .value{
  @apply font-extrabold
}

  /* Health Advice */
  div.health-advice .advices .advice{
    @apply relative flex gap-[12.5px] items-center justify-center md:px-[15px] md:py-[15px] p-[13px] rounded-[9px] border border-transparent
  }

  div.health-advice .advices .advice.important{
    @apply border-[rgba(75,169,255,0.73)]
  }

  div.health-advice .advices .advice.very-important p span:nth-child(1):after{
    content: "";
    @apply absolute top-[-2px] right-[-5px] w-[5px] aspect-square rounded-full bg-[#E75835]
  }

  div.health-advice .advices .advice p{
    @apply flex flex-col gap-[2px]
  }

  div.health-advice .advices .advice p span:nth-child(1){
    @apply text-[#31343D] font-semibold text-[12px] relative
  }

  div.health-advice .advices .advice p span:nth-child(2){
    @apply text-[11px] font-medium
  }


  /* AQI Scale */
  section.aqi-scale .scale{
    @apply grid items-center grid-cols-[auto_135px_minmax(23px,_40px)_1fr]  md:grid-cols-[auto_135px_auto_1fr_minmax(23px,_40px)] px-[20px] py-[14px] rounded-[6px] md:px-[15px] md:py-[13px] md:rounded-[9px] bg-[#F7F7FC] gap-x-[10px] md:gap-x-[15px] lg:gap-x-[20px] max-md:gap-y-[20px]
  }

  section.aqi-scale .scale .color{
    @apply aspect-square w-[17px] rounded-[3px]
  }

  section.aqi-scale .scale .name{
    @apply text-[#31343D] font-semibold text-[13px]
  }

  section.aqi-scale .scale .name span {
    @apply text-[#667580] text-[12px] font-medium
  }

  section.aqi-scale .scale hr{
    @apply max-md:hidden h-[25px]
  }

  section.aqi-scale .scale .desc{
    @apply text-[11px] text-[#677580] max-md:col-start-1 max-md:col-end-5 max-md:row-start-2 max-md:row-end-3 max-md:hidden
  }

  section.aqi-scale .scale.active .desc{
    @apply block
  }

  section.aqi-scale .scale .aqi-model{
    @apply mt-[-20px] md:mt-[-30px] w-[22px]
  }

  section.aqi-scale .scale .toggler{
    @apply md:hidden
  }

  section.aqi-scale .scale .toggler svg{
    @apply md:hidden float-right transition
  }
  
  section.aqi-scale .scale.active .toggler svg{
    @apply rotate-180
  }

  /* World's Most Polluted Cities */
  section.worlds-most-polluted-cities .content :is(.header, .data){
    @apply grid items-center  gap-[23px] md:gap-x-[40px] grid-cols-[20px_130px_40px_minmax(80px,auto)_minmax(140px,auto)_minmax(40px,auto)] md:grid-cols-[20px_200px_40px_minmax(80px,auto)_minmax(140px,auto)_minmax(40px,auto)] py-[10px] px-[20px] rounded-[6px] font-semibold text-[12px] min-w-[580px]
  }

  section.worlds-most-polluted-cities .data{
    @apply odd:bg-[#F7F7FC]
  }

  section.worlds-most-polluted-cities .data > *{
    @apply h-fit
  }

  section.worlds-most-polluted-cities .data .rank{
    @apply text-[11px] text-left text-[#31343D] font-light
  }

  section.worlds-most-polluted-cities .data .location{
    @apply flex gap-[6px] md:gap-[12px] items-center
  }
  
  section.worlds-most-polluted-cities .data .location p{
    @apply text-[12px] font-semibold overflow-hidden whitespace-nowrap text-ellipsis
  }

  section.worlds-most-polluted-cities .data .aqi-level{
    @apply flex items-center justify-center
  }

  section.worlds-most-polluted-cities .data .aqi-status {
    @apply flex items-center justify-center
  }

  
  section.worlds-most-polluted-cities .data .aqi-fluctuation{
    @apply flex items-center justify-center gap-[5px] min-w-max
  }
  
  section.worlds-most-polluted-cities .data .aqi-fluctuation span{
    @apply text-[15px]
  }

  section.worlds-most-polluted-cities .data .user-follows{
    @apply flex items-center justify-center cursor-pointer
  }

  /* Recent Blogs */
  section.recent-blogs .blog{
    @apply  bg-white overflow-hidden flex flex-col rounded-[12px] shadow-[1.5px_5px_36px_0px_rgba(0,0,0,0.05)]
  }

  section.recent-blogs .blog .content{
@apply md:px-[22px] md:py-[20px] px-[10px] pt-[15px] pb-[20px] flex flex-col gap-[5px] md:gap-[7px]
  }

  section.recent-blogs .blog .update-date{
    @apply text-[11px] md:text-[12px] font-semibold md:font-medium
  }

  section.recent-blogs .blog .title{
    @apply text-[12px] md:text-[14.5px] font-semibold text-[#31343D] line-clamp-3
  }

  /* Section App Download */
  section.app-download .platform{
    @apply relative max-md:h-[75px] md:p-[21px] p-[5px] flex flex-col text-left justify-center md:rounded-[5.5px] rounded-[4px] grow text-[#667580] w-[84px] md:w-[260px] bg-white
  }

  section.app-download .platform.selected{
    @apply text-white bg-[#55A6F0]
  }

  section.app-download .platform .for{
    @apply md:text-[12px] text-[9px] font-semibold
  }

  section.app-download .platform .name{
    @apply md:text-[16px] text-[11px] md:mt-[2px] md:mb-[25px] font-bold text-[#31343D]
  }

  section.app-download .platform.selected .name{
    @apply text-white
  }

  section.app-download .platform .desc{
    @apply md:text-[13px] max-md:hidden font-medium
  }

  section.app-download .platform .icon{
    @apply absolute top-0 right-0 m-[5px] md:m-[21px] w-[10.5px] md:w-[26.5px] rounded-full bg-[#4BA9FF] flex items-center justify-center overflow-hidden aspect-square
  }

  section.app-download .platform.selected .icon{
    @apply bg-white
  }

  section.app-download .platform .icon svg{
    @apply max-md:w-[5px]
  }

  section.app-download .platform .icon svg path {
    @apply stroke-white md:pr-[4px] lg:pl-[7px] pl-[1px] pr-[2px]
  }

  section.app-download .platform.selected .icon svg path {
    @apply stroke-[#55A6F0]
  }


  /* Footer  */
  footer .bottom .footer-nav ul{
    @apply flex flex-col gap-[8px] lg:gap-[9px] font-medium
  }

  footer .bottom .footer-nav ul p{
    @apply text-[#7a7c84] font-semibold text-[16px] lg:text-[18px] lg:mb-[3px]
  }

  footer .bottom .footer-nav ul.location li a{
    @apply flex gap-[11px] lg:gap-[14px]
  }

  footer .bottom .footer-nav ul.location li img{
    @apply w-[12.5px] lg:w-[14px] h-fit
  }


footer .bottom .social-handles .handle a{
  @apply flex items-center gap-[11px] lg:gap-[33px]
}

footer .bottom .social-handles img{
  @apply w-[14px] lg:w-[16px] aspect-square
}

footer .bottom .social-handles hr{
  @apply w-[1px] h-[22px] lg:h-[44px]
}


}


